<div id="about-sign-in" class="about-content-slide">
  <%= image_tag 'nav_bar_before_login.png', size: "800x80", class: "d-block mx-auto mt-3" %>
  <%= image_tag 'sign_in.png', size: "600x350", class: "d-block mx-auto mt-3" %>
</div>