<div id="about-to-first-page" class="about-content-slide">
  <div class="d-flex align-items-center justify-content-center">
    <button id="command-to-first" type="button" class="text-initialize command-next-message">さいしょから</button>
  </div>
</div>