<div class="container">
  <%= render "layouts/sound_menu" %>
  <div class="fadein-content">

  </div>
</div>

<script>
  $(document).ready(function() {
    $('.fadein-content').fadeIn("slow")
  });
</script>
