<div class="screen-level-up-box">
  <div class="level-up-box text-center">
    <p class="label-level mb-0">がくしゅうしゃレベルアップ！</p>
    <p class="orizinal-level">Lv.<%= quest.user.level - 1 %> >> <span class="raised-level">Lv.<%= quest.user.level %></span></p>
    <p class="label-level mb-0">アビリティレベルアップ！</p>
    <p class="orizinal-level">Lv.<%= quest.ability.level - 1 %> >> <span class="raised-level">Lv.<%= quest.ability.level %></span></p>
  </div>
</div>