<div class="quest-start-btn-box">
  <%= link_to "クエストをはじめる！", adventures_start_btn_path(quest_id: @quest.id), method: :patch, remote: true, id: "btn-quest-start", class: "adventures-command-start text-center" %>
</div>