<div id="timer-box" class="timer-box">
  <div class="text-center timer-box-label">
    <p>のこりクエストタイム</p>
  </div>

  <div class="time-container text-center timer-box-count">
    <p class="timer-text"><span class="min"></span> ふん <span class="sec"></span> びょう</p>
  </div>
</div>