/*system*/

.logo {
  width: 64px;
  height: 64px;
}

.action-view-frame {
  min-width: 1000px;
  max-width: 1000px;
  min-height: 600px;
  max-height: 600px;
  box-shadow: 0 0 0 1px black;
}

.sound-menu {
  width: 1000px
}

.title {
  width: 80%;
  height: 130px;
  background-image: url(../../assets/images/gakusyusya_kana.png);
  background-position: center;
  background-size: cover;
}


.system-window {
  background-color: #1a3a8e;
}

.system-window-inner {
  height: 586px;
}

.system-window-border {
  border: solid;
  border-color: white;
}

.system-font {
  color: white;
}

.slide-window {
  background-color: rgba(29, 29, 29, 0.5);
}

.text-initialize {
  text-decoration: none;
  color: white;
  border: none;
  outline: none;
  background: transparent;
}

.text-initialize:hover {
  text-decoration: none;
  color: white;
}

.quit-box {
  font-size: 30px;
  width: 50px;
}

.fadein-content {
  display: none;
}

/*pagination*/

.paginate-div {
  width: 100%;
  margin: auto;
}

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
}

.pagination span {
  text-align: center;
  width: 50px;
  font-size: 20px;
}

.pagination a {
  color: #818181;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}

.current {
  font-weight: bold;
  color: #84b8eb;
  padding: 10px;
}

/*edit-box*/

.edit-actor-box {
  height: 300px;
}

.edit-situation-box {
  height: 200px;
}

/*situation-show*/

.situation-show-animations-container {
  width: 820px;
  height: 513px;
}

.situation-show-animations-box {
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 40px;
}

.situation-show-animations-box:nth-child(n + 4) {
  margin-top: 0px;
}

/*mypage*/

.status-container {
  height: 522px;
  display: flex;
}

.status-left-sidebar {
  width: 678px;
}

.status-right-sidebar {
  height: 517px;
}

.user-status-box {
  height: 135px;
}

.user-status-box td {
  height: 62px;
  font-size: 30px;
}

.user-status-box td:nth-child(odd) {
  width: 200px;
}

.user-status-box td:nth-child(even) {
  width: 460px;
}

.user-abilities-box {
  height: 322px;
}

.btn-box {
  height: 200px;
}

.study_time-container table {
  height: 58px;
}

.study_time-container td:last-child {
  width: 80%;
  text-align:right
}

/*form-design*/

.form-container {
  height: 594px;
  display: flex;
}

.sign_up-left-sidebar {
  width: 678px;
}

.sign_up-right-sidebar {
  height: 586px;
}

.sign_up-start-box {
  height: 240px;
}

.sign_up-start-btn {
  font-size: 22px;
}

.user_info-edit-form {
  width: 510px;
}

.withdraw-btn-box {
  height: 278px;
}

.edit_ability-btn-box {
  height: 440px;
}

/*ability*/

.abilities-container {
  height: 476px;
  display: flex;
}

.abilities-left-sidebar {
  width: 678px;
}

.abilities-right-sidebar {
  width: 304px;
  height: 472px;
}

.abilities-box {
  height: 384px;
}

.add-abilities-container {
  height: 110px;
}

.add-abilities-form {
  width: 660px;
}

.radar-chart {
  margin-top: 80px;
}

/*quest*/

.quest-counter {
  position: relative;
}

.quest-counter-bg {
  background-image: url(../../assets/images/quest_counter.gif);
  background-position: center;
  background-size: cover;
}

.quest-command {
  font-size: 25px;
}

.quest-left-sidebar {
  width: 300px;
  height: 600px;
}

.quest-right-sidebar {
  width: 700px;
  height: 600px;
}

.quest-message-window {
  width: 1000px;
  height: 100px;
  font-size: 35px;
  position: absolute;
  top: 500px;
}

.quest-command button {
  text-decoration: none;
}

.quest-command:last-child {
  margin-bottom: 100px;
  text-decoration: none;
}

/*new-quest*/

.new-quest-box {
  height: 600px;
}

.new-quest-left-sidebar {
  width: 350px;
}

.new-quest-right-sidebar {
  width: 300px;
}

.preview-map-box {
  width: 200px;
  height: 100px;
  border: solid;
  border-color: white;
}

.preview-boss-box {
  width: 200px;
  height: 200px;
  border: solid;
  border-color: white;
}

/*quest-index*/

.quest-index-box {
  height: 600px;
}

.quest-index-table-box {
  width: 650px;
}

.quest-index-td {
  height: 80px;
  padding: 10px;
}

.quest-index-td:nth-child(3) {
  width: 280px;
}

/*quest-show*/

.quest-show-box {
  height: 600px;
}

/*quest-new-jQuery-animation*/

.new-quest-box {
  display: none;
}

.quest-index-box {
  display: none;
}

.quest-show-box {
  display: none;
}

/*adventure*/

.adventures-box {
  height: 600px;
  width: 1000px;
  position: relative;
}

.animation-field {
  height: 500px;
  width: 1000px;
}

.adventures-command {
  color: black;
  font-size: 25px;
  width: 250px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
}

.adventures-command:hover {
 color: black;
}

.adventures-command-window {
  width: 1000px;
  height: 100px;
  position: absolute;
  top: 500px;
}

.quest-start-btn-box {
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(29, 29, 29, 0.5);
}

.timer-box {
  width: 800px;
  height: 150px;
  position: absolute;
  top: 30px;
  left: 100px;
  background-color: rgba(29, 29, 29, 0.5);
  border-radius: 75px;
  display: none;
}

.timer-box-label p {
  margin-bottom: 0px;
  font-size: 25px;
}

.timer-box-count {
  font-size: 70px;
}